/*stylesheet*/

/*here is my nice comment*/

* {
  margin: 0;
  font-family: usual, sans-serif;
  /*border: solid 1px red;*/
}

body {
  background-color: #333333(255, 136, 0);
  color: white;
  font-family: usual, sans-serif;
}

/* 

#wrapper {
	margin: 2rem auto;
	max-width: 1220px;
	padding: 8 2rem;
} */

nav {
  background-color: black;
  color: white;
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  justify-content: space-between;
}
.nav-name {
  letter-spacing: 1px;
  font-size: 1.7rem;
  font-style: unset;
}
.nav-name a {
  text-decoration: none;
  color: white;
}
.logo-section {
  display: flex;
  align-items: center;
}

.logo-image {
  margin: 1rem;
}

.nav-buttons {
  display: flex;
  margin-right: 4rem;
  align-items: center;
  font-size: 1rem;
}

.nav-button:hover {
  text-decoration: underline;
}

.nav-button a {
  text-decoration: none;
  color: white;
}

.nav-button {
  margin: 1rem;
}

.intro-wrapper {
  padding: 10rem 10rem;
  padding-top: 4rem;
  display: flex;
  justify-content: flex-start;
}
.intro-image {
}

section {
  background-color: #333333;
  height: 100%;
  width: 100%;
}

.intro-text {
  color: white;
  font-size: 1.25rem;
  width: 50%;
  padding-right: 11.8rem;
}

.main-text {
  margin-top: 2rem;
  font-size: 25px;
  line-height: 1.5;
}

.main-title {
  font-size: 3rem;
}

.portfolio-section {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.portfolio-box {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10rem;
  justify-content: space-between;
}

.portfolio-section-single {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.portfolio-box-single {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 10rem;
  justify-content: space-between;
}

.portfolio-intro {
}
.portfolio-header {
  padding-top: 1rem;
  font-size: 36px;
}
.portfolio-brief {
  padding-top: 2rem;
  line-height: 1.5;
  font-size: 25px;
}

.portfolio-thumb {
  width: 600px;
  height: 600px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.portfolio-thumb .inner {
  text-decoration: none;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-thumb .inner .thumb-inside {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  color: #fff;
  padding: 2rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: right;
}

.portfolio-thumb .inner:hover .thumb-inside {
  opacity: 1;
}

.portfolio-thumb img {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-section {
  padding: 32px 160px;
  line-height: 1.5rem;
}

.contact-header {
  font-size: 36px;
  padding-bottom: 16px;
}

.contact-text {
  font-size: 22px;
  line-height: 2rem;
}
.footer-section {
  background-color: black;
}
